<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
       <!-- Mysql 数据源配置-->
       <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
              <property name="driverClassName">
                     <value>com.mysql.jdbc.Driver</value>
              </property>
               <property name="url">
                     <value>jdbc:mysql://172.18.136.231:3306/RBIS_XMZHC_DEMO?autoReconnect=true&amp;autoReconnectForPools=true</value>
              </property>
              <property name="username">
                     <value>mysql</value>
              </property>
              <property name="password">
                     <value>mysql</value>
              </property>
              <property name="timeBetweenEvictionRunsMillis">
                     <value>3600000</value>
              </property>
              <property name="testWhileIdle">
                     <value>true</value>
              </property>
              <property name="validationQuery">
                     <value>select 1 from dual</value>
              </property>
       </bean>

       <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
              <property name="dataSource" ref="dataSource"/>
       </bean>

       <bean id="factorQuantify" class="com.ruijie.dataInitialize.FactorQuantify">
              <property name="holidayFile">
                     <!--<value>E:\\IDEAProject\\Project\\customerPredict\\conf\\holiday.properties</value>-->
                     <value>conf/holiday.properties</value>
              </property>
              <property name="weatherFile">
                     <!--<value>E:\\IDEAProject\\Project\\customerPredict\\conf\\weather.properties</value>-->
                     <value>conf/weather.properties</value>
              </property>
               <property name="predictFile">
                     <value>conf/predict.properties</value>
              </property>
       </bean>

       <bean id="dateInfo" class="com.ruijie.dataInitialize.DateInfo">
              <property name="jdbcTemplate" ref="jdbcTemplate"/>
              <property name="factorQuantify" ref="factorQuantify"/>
       </bean>

       <bean id="storeIndexStat" class="com.ruijie.dataInitialize.StoreIndexStat">
              <property name="jdbcTemplate" ref="jdbcTemplate"/>
       </bean>

       <bean id="runBP" class="com.ruijie.main.RunBP">
              <property name="jdbcTemplate" ref="jdbcTemplate"/>
              <property name="factor" ref="factorQuantify"/>
       </bean>

       <bean id="runTask" class="com.ruijie.main.RunTask">
              <property name="jdbcTemplate" ref="jdbcTemplate"/>
              <property name="dateInfo" ref="dateInfo"/>
              <property name="storeIndexStat" ref="storeIndexStat"/>
              <property name="runBP" ref="runBP"/>
       </bean>

</beans>